body {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1em 0;
}

/**
*** CSS GRID LAYOUT
**/

.container {
  /* Flex Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Grid Styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
  grid-template-rows: repeat(20, 80px);
  grid-gap: 0.5rem;
}

@media (min-width: 900px) {
  .card-headline { grid-column: span 6; }
  .card-slideshow { grid-column: span 4; grid-row: span 5; }
  .card-invitation { grid-column: span 6; grid-row: span 2; }
  .card-schedule {
    grid-column: span 3;
    grid-row: span 2;}
  .card-rsvp { grid-column: span 4; grid-row: span 6; }
  .card-illustration { grid-column: span 6; grid-row: span 4;}
  .card-travel,
  .card-accommodations,
  .card-todo,
  .card-faq,
  .card-contact,
  .card-contribute,
  .card-requests,
  .card-cartoon,
  .card-draw,
  .card-secret { grid-column: span 2; grid-row: span 2;}
}

.card {

  /* Grid Styles */
  background: #C1D7C6;
  color: #177554;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 400px;
}

.card-expanded {
  transform: perspective(0) rotateY(0);
  grid-row-start: 6;
  grid-row-end: span 7;
  grid-column-start: 1;
  grid-column-end: span 7;
}

.content-hidden {
  display: none;
}

.content-visible {
  display: block;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .card {
    margin: 0;
  }
}

/**
*** LOADING STYLES
**/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #177554;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

/**
*** REMOVE PADDING FROM ILLUSTRATION CARDS
**/
.illustration {
  padding: 0;
}

/**
*** CSS-BASED SLIDESHOW
**/
.card-slideshow, .card-slideshow-container {
  padding: 0;
  width: 100%;
  height: 100%;
}

.card-slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity:0;
  animation-name: fade;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.card-slideshow-slide:nth-child(1) { animation-delay: 0s; }
.card-slideshow-slide:nth-child(2) { animation-delay: 5s; }
.card-slideshow-slide:nth-child(3) { animation-delay: 10s; }
.card-slideshow-slide:nth-child(4) { animation-delay: 15s; }
.card-slideshow-slide:nth-child(5) { animation-delay: 20s; }
.card-slideshow-slide:nth-child(6) { animation-delay: 25s; }
.card-slideshow-slide:nth-child(7) { animation-delay: 30s; }
.card-slideshow-slide:nth-child(8) { animation-delay: 35s; }
.card-slideshow-slide:nth-child(9) { animation-delay: 40s; }
.card-slideshow-slide:nth-child(10) { animation-delay: 45s; }
.card-slideshow-slide:nth-child(11) { animation-delay: 50s; }
.card-slideshow-slide:nth-child(12) { animation-delay: 55s; }
.card-slideshow-slide:nth-child(13) { animation-delay: 60s; }
.card-slideshow-slide:nth-child(14) { animation-delay: 65s; }
.card-slideshow-slide:nth-child(15) { animation-delay: 70s; }

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}
