/**
* CSS RESET
**/
@import 'node_modules/modern-normalize/modern-normalize';

/**
* FONTS
**/
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: local('Itim'), local('Itim-Regular'),
       url('../fonts/itim-regular.woff2') format('woff2'),
       url('../fonts/itim-regular.woff') format('woff');
}

@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  src: local('Arima Madurai Bold'), local('ArimaMadurai-Bold'),
       url('../fonts/arima-madurai-700.woff2') format('woff2'),
       url('../fonts/arima-madurai-700.woff') format('woff');
}

@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 900;
  src: local('Arima Madurai Black'), local('ArimaMadurai-Black'),
       url('../fonts/arima-madurai-900.woff2') format('woff2'),
       url('../fonts/arima-madurai-900.woff') format('woff');
}

/**
* COLORS
**/
$color-ink: #282F39;
$color-egg: #FFF9EA;
$color-green: #00A49C;
$color-lightgreen: #DBEEDE;
$color-red: #D71C24;
$color-pink: #DF4935;
$color-redorange: #FC5A00;
$color-orange: #FEAB00;
$color-yellow: #F1E213;
$color-blue: #3683DB;
$color-purple: #4342B4;

/**
* STYLES
**/
body {
  margin: 0 auto;
  max-width: 80vw;
  padding: 4em 0;
  background-color: $color-egg;
  color: $color-ink;
  font-family: 'Itim', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: $color-green;
  cursor: url('../images/cursorone.png'), default;
}

h1 {
  font-family: 'Arima Madurai';
  font-weight: 900;
}

h2 {
  font-family: 'Arima Madurai';
  font-weight: 700;
}

.grid-links h2 {
  cursor: url('../images/cursorone.png'), default;
}

.links {
  color: $color-green;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, $color-lightgreen 0, $color-lightgreen 100%);
  background-position: 0 0.7em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .1s;

  &:hover, {
    background-size: 100% 100%;
  }
}

.grid-schedule {
  h2 {
    font-size: 12px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 18px;
  }

  a {
    background: linear-gradient(to bottom, $color-green 0%, $color-green 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;

    &:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300A49C' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: 0 100%;
      background-size: auto 4px;
      background-repeat: repeat-x;
      text-decoration: none;
    }
  }
}


/***
* CSS LOADING BAR IN CASE IMAGES ARE SLOW
***/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $color-blue;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

/**
* CSS GRID LAYOUT
**/
@media (pointer:fine) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 0.5fr 2.5fr;
    grid-gap: 20px
  }

  .grid-invitation { grid-area: 1 / 1 / 2 / 6; }

  .grid-slideshow { grid-area: 1 / 7 / 2 / 13; }

  .grid-schedule {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-area: 2 / 1 / 3 / 9;

    > div {
      align-self: start;// justify-self: center;
      text-align: center;
    }
  }

  // #sched-one { grid-column: 1 / 2; }
  // #sched-two { grid-column: 2 / 4; }
  // #sched-three { grid-column: 4 / 6; }
  // #sched-four { grid-column: 6 / 7; }

  .grid-rsvp { grid-area: 3 / 1 / 5 / 8; }

  .grid-links {
    display: grid;
    grid-area: 2 / 10 / 4 / 13;

    > div:nth-child(odd) {
      text-align: center;
      align-self: end;
      transform-origin: 0 0;
      transform: skewY(-13deg);
    }

    > div:nth-child(even) {
      text-align: center;
      align-self: start;
      transform-origin: 0 0;
      transform: skewY(13deg);
    }
  }
}

.grid-container > div {
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 12px 6px;
}

/**
* HIDE CONTENT IF CONTAINER IS NOT EXPANDED
**/
.body-hidden {
  display: none;
}

.body-visible {
  display: block;
}

/**
* SLIDESHOW
**/

// variables for doing slideshow math
$fade-in-delay: 3;
$number-of-image: 12;
$presentation-time-for-one-image: 4;
$duration-for-cross-fading: 1;
$animation-delay:
$presentation-time-for-one-image + $duration-for-cross-fading;
$total-animation-delay: $animation-delay * $number-of-image;


// a couple mixins for creating the animations
@mixin css3-animation( $property, $value ) {
  @each $prefix in -webkit-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin css3-keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

//crossfade keyframes
@keyframes crossFade {
  0% { opacity: 1; }
  18.75% { opacity: 1; }
  25% { opacity: 0; }
  93.75% { opacity: 0; }
  100% { opacity: 1; }
}

// drop in some fades
@include css3-keyframes( fadeinOnPageLoad ) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@include css3-keyframes( crossFade ) {
  0% { opacity:1; }
  #{$presentation-time-for-one-image/$total-animation-delay*100%} { opacity:1; }
  #{100%/$number-of-image} { opacity:0; }
  #{100% - $duration-for-cross-fading/$total-animation-delay*100%} { opacity:0; }
  100% { opacity:1; }
}

.crossfade-animation {
  @include css3-animation( animation, crossFade #{$total-animation-delay}s infinite );
}

// finishing touches on main container and item containers
.grid-slideshow {
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 30vh;

  @include css3-animation( animation, fadeinOnPageLoad #{$fade-in-delay}s );

  @for $i from 0 through $number-of-image {
    div:nth-of-type(#{$i}) {
      @include css3-animation( animation-delay, #{$total-animation-delay - $i*$animation-delay}s );
    }
  }
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $color-yellow 0%, $color-orange 100%) 1;
  opacity: 0.6;

  img {
    border-radius: 4px 2px;
  }
}

/**
* FORMBASE
**/
$formbase__margin: 0.8em; // Margin
$formbase__padding: 0.8em; // Padding
$formbase__radius: 2px;
$formbase__color: #282F39;
$formbase__svg: #282F39;
$formbase__background: #fff;
$formbase__border: #282F39;
$formbase__active: #00A49C;
$formbase__shadow: inset 0 0 0 rgba(0, 0, 0, .05);
$formbase__duration: .4s;
$formbase__timing: ease;

@import 'node_modules/formbase/src/styles/main';

form {
  margin-top: 1.6em;
}

.label {
  display: block;
  margin-bottom: 0.6em;
}
