/**
* CSS RESET AND SOME BASIC FORM STYLES
**/
@import 'node_modules/modern-normalize/modern-normalize';
@import 'node_modules/formbase/src/styles/main';

/**
* MAX WIDTH ON VIEWPORT
**/
body {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1em 0;
}

/***
* CSS LOADING BAR IN CASE IMAGES ARE SLOW
***/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #177554;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

/**
* CSS GRID LAYOUT
**/
@media (pointer:fine) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.9fr 1.1fr 1fr 1fr 1fr;

  }

  .grid-slideshow { grid-area: 1 / 4 / 3 / 6; }

  .grid-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: 3 / 4 / 6 / 6;

    > div {
      align-self: center;
      text-align: center;
    }
  }

  .grid-invitation { grid-area: 1 / 1 / 2 / 3; }

  .grid-schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 2 / 1 / 3 / 4;

    > div {
      align-self: center;// justify-self: center;
      text-align: center;
    }
  }

  #sched-one { grid-area: 1 / 1 / 2 / 2; }
  #sched-two { grid-area: 1 / 2 / 2 / 4; }
  #sched-three { grid-area: 2 / 1 / 3 / 3; }
  #sched-four { grid-area: 2 / 3 / 3 / 4; }

  .grid-rsvp { grid-area: 3 / 1 / 6 / 4; }
}

.grid-container > div {
  padding: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 12px 8px;
}

/**
* HIDE CONTENT IF CONTAINER IS NOT EXPANDED
**/
.body-hidden {
  display: none;
}

.body-visible {
  display: block;
}

/**
* SLIDESHOW
**/

// variables for doing slideshow math
$fade-in-delay: 3;
$number-of-image: 12;
$presentation-time-for-one-image: 4;
$duration-for-cross-fading: 1;
$animation-delay:
$presentation-time-for-one-image + $duration-for-cross-fading;
$total-animation-delay: $animation-delay * $number-of-image;


// a couple mixins for creating the animations
@mixin css3-animation( $property, $value ) {
  @each $prefix in -webkit-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin css3-keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

//crossfade keyframes
@keyframes crossFade {
  0% { opacity: 1; }
  18.75% { opacity: 1; }
  25% { opacity: 0; }
  93.75% { opacity: 0; }
  100% { opacity: 1; }
}

// drop in some fades
@include css3-keyframes( fadeinOnPageLoad ) {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@include css3-keyframes( crossFade ) {
  0% { opacity:1; }
  #{$presentation-time-for-one-image/$total-animation-delay*100%} { opacity:1; }
  #{100%/$number-of-image} { opacity:0; }
  #{100% - $duration-for-cross-fading/$total-animation-delay*100%} { opacity:0; }
  100% { opacity:1; }
}

.crossfade-animation {
  @include css3-animation( animation, crossFade #{$total-animation-delay}s infinite );
}

// finishing touches on main container and item containers
.grid-slideshow {
  min-height: 500px;
  padding: 0;
  width: 100%;
  height: 100%;

  @include css3-animation( animation, fadeinOnPageLoad #{$fade-in-delay}s );

  @for $i from 0 through $number-of-image {
    div:nth-of-type(#{$i}) {
      @include css3-animation( animation-delay, #{$total-animation-delay - $i*$animation-delay}s );
    }
  }
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/**
* FORMBASE
**/
$formbase__margin: 0.8em; // Margin
$formbase__padding: 0.8em; // Padding
$formbase__radius: 2px;
$formbase__color: #282F39;
$formbase__svg: #282F39;
$formbase__background: #fff;
$formbase__border: #282F39;
$formbase__active: #00A49C;
$formbase__shadow: inset 0 0 0 rgba(0, 0, 0, .05);
$formbase__duration: .4s;
$formbase__timing: ease;

@import 'node_modules/formbase/src/styles/main';

form {
  margin-top: 1.6em;
}

.label {
  display: block;
  margin-bottom: 0.6em;
}
