@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: local('Itim'), local('Itim-Regular'),
  url('../fonts/itim-regular.woff2') format('woff2'),
  url('../fonts/itim-regular.woff') format('woff');
}

@font-face {
  font-family: 'Arima Madurai Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Arima Madurai Bold'), local('ArimaMadurai-Bold'),
  url('../fonts/arima-madurai-700.woff2') format('woff2'),
  url('../fonts/arima-madurai-700.woff') format('woff');
}

@font-face {
  font-family: 'Arima Madurai Black';
  font-style: normal;
  font-weight: 900;
  src: local('Arima Madurai Black'), local('ArimaMadurai-Black'),
  url('../fonts/arima-madurai-900.woff2') format('woff2'),
  url('../fonts/arima-madurai-900.woff') format('woff');
}

body {
  padding: 1em 0;
  background-color: #fffcf3;
  color: #282F39;
  line-height: 1.25;
  font-family: Itim, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#header {
  width: 815px;
  margin: 10px auto 10px auto;
}

#main {
  width: 700px;
  margin: 0 auto;
  padding: 1.2em 0;
}

body, label, input, textarea, select, option, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: #00A49C;
  cursor: url('../images/cursorone.png'), default;
}

.headercolumn {
  float: left;
  width: 50%;
}

.headerrow:after {
  content: "";
  display: table;
  clear: both;
}
.schedulecolumn {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 1.2em;
}
.schedulerow {
  width: 700px;
  margin: 0 auto;
}
.schedulerow:after {
  content: "";
  display: table;
  clear: both;
}

a {
  background: linear-gradient(to bottom, #00A49C 0%, #00A49C 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2300A49C' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
}

h1 {
  color: #00A49C;
  flex: 1;
  font-size: 2.5em;
  text-decoration: none;
  background-image: linear-gradient(to right, #DBEEDE 0, #DBEEDE 100%);
  background-position: 0 0.7em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .1s;
  margin-block-end: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

h1:hover {
  background-size: 100% 100%;
}

p {
  margin-block-start: 0.2em;
  font-size: 1.4em;
}

form {
  margin-top: 1.6em;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8em;
  background: #ffffff;
  border: 1px solid #282F39;
  border-radius: 2px;
  resize: vertical;
  color: #282F39;
}

.input:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.label {
  display: block;
  margin-bottom: 0.6em;
}

.control-group {
  display: flex;
  justify-content: space-around;
}

.control {
  flex: 1 1 0;
}

.control + .control {
  margin-left: 0.8em;
}

.control-label {
  padding: 1em;
  background: #ffffff;
  border: 1px solid #282F39;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  width: 80%;
  height: 55%;
}

[name='rsvp'],
[name='event1'],
[name='event2'],
[name='event3'],
[name='event4'] {
  position: fixed;
  opacity: 0;
}
[name=rsvp]:hover + label,
[name=event1]:hover + label,
[name=event2]:hover + label,
[name=event3]:hover + label,
[name=event4]:hover + label {
  transform: scale(1.05);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
[name=rsvp]:checked + label,
[name=event1]:checked + label,
[name=event2]:checked + label,
[name=event3]:checked + label,
[name=event4]:checked + label {
  background: #DBEEDE;
  border: 1px solid #00A49C;
}

button {
  border-radius: 4px;
  margin-top: 2em;
  font-size: 1.25em;
  padding: 0.5em;
  color: white;
  background: linear-gradient(75deg, #f1e213, #3683db, #df4935);
  background-size: 600% 600%;
  animation: ButtonGradient 30s ease infinite;
}

button:hover {
  transform: scale(1.25);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes ButtonGradient {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes ButtonGradient {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes ButtonGradient {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
